body{
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
}
h1{
    color: goldenrod;
}
#heading{
    font-style: italic
}
p{
    font-weight: bold;
}
button{
    color: green;
    background-color: goldenrod;
    border: none;
    font-size: 20px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 3px;
    margin-bottom: 4px;
}
button:hover{
    cursor: pointer
}