body{
    background-color: black;
    background-size: cover;
    
    background-image: url("https://images4.alphacoders.com/970/thumb-1920-9708.jpg");
}
h1{
    color: red;
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: aqua;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}
button{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
    background-color: blue ;
    width: 200px;
    font-weight: bold;
    border: none;
}
#save-btn{
    background-color: green;
}
button:hover{
    cursor: pointer;
}
p{
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
